ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  background-color: #ffffff;
}

li {
  float: left;
}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: rgb(0, 167, 167);
}

hr{
  height:0.5px;
  border-width:0;
  color:rgb(190, 190, 190);
  background-color:rgb(190, 190, 190); 
  opacity: 0.3;
}

body{
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.up-navbar{
  margin-top: 10px;
  margin-bottom: -10px;
}

.body-content-container{
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center; 
  align-items: center;
  height: 60vh;
}

.form{
  width: 100%;
}

input[type="text"] {
  margin-top: 20px;
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #bdc1c7ba;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #25b7f6;
}

input[type="submit"] {
  margin-top: 15px;
  padding: 10px 20px;
  size: 20px 30px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #bdc1c7ba;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  border-color: #716b6b;
}

#submit-first-task {
  color: white;
  background-color: #25b7f6;
}


.tasks-column {
  /* border: 2px solid #ddd; */
  /* border-radius: 10px; */
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  text-align: left;
} 

#openTasks li{
  display: flex; 
  width: 100%; /* عرض کامل */
  padding: 8px;
  border-bottom: 1px solid #ddd; /* خط جداکننده برای زیبایی */
  margin: 5px 0;
  cursor: pointer;
  
}

#finishedTasks li{
  display: flex; 
  width: 100%; /* عرض کامل */
  padding: 8px;
  border-bottom: 1px solid #ddd; /* خط جداکننده برای زیبایی */
  margin: 5px 0;
  cursor: pointer;
  /* text-decoration: line-through;
  color: gray; رنگ متن کمی محوتر شود */
}

input[type="checkbox"]{
  margin: 0px 5px;
}